<div id="Introduction">
<h1 style="background:black;padding:5%">
    <span style="color:red"> Factor Affecting</span><span style="color:white"> Trending Video</span><span style="color:red"> On Youtube. </span>
    <img style="width:50px;height:50px; top-padding:3%; background:white" src="./youtube.svg">
</h1>
</div>

## Youtube is a online video sharing and social media platform, headquatered in California, United States. Accessable Worldwide, It was launched on February 14, 2005 by Jawed Karim, Steve Chen and Chad Hurley. Its parent company is Google and is the second most visited website just after google search. It has over 2.5 billion monthlty active user, who watch around 1 billion hours of video every day.. 

<h2 style="color:red">continue this and plz relate this to video and our analisys.. </h2>

***

<a id="ProjectAim"></a>
## Problem Statement!!!!

The aim of this research project is to investigate and analyse the key factor influencing the trending videos on one of the most popular and most visited video sharing platform, Youtube. 
With such a dynamic and competitive landscape of online content and content creation, understanding the variables that contribute to a video's popularity is essential for content creators, marketers, and platform algorithms.By diving into the diverse dimensions of video content, engagement metrics, this study seeks to unveil patterns and correlations that underlie the success of YouTube videos in trending categories. Through a comprehensive examination, the project aims to provide insights that can empower content creators to optimize their strategies and enhance the overall comprehension of video trends within the YouTube platform.

The study is split up into four main objective
* How does factor like description, tags and title effect trending of videos!!!!
* Ob2
* Ob3
* Ob4

<a id="Table"></a>
# Table of Content
* [Introduction](#Introduction)
* [Problem Statement](#ProjectAim)
    * [How does factor like description, tags and title effect trending of videos!!!!](#obj1)
    * [Objective 2](#obj2)
    * [Objective 3](#obj3)
    * [Objective 4](#obj4)
* [Table of Content](#Table)
* [Importing modules](#importm)
* [Importing DataSet](#importD)
    * [Importing video dataset (C.S.V)](#csvData)
    * [Importing category dataset (JSON)](#jsonData)
* [Common methods](#common)
* [Exploratory Data Analysis (E.D.A)](#eda)
    * [Video dataset EDA](#edavideo)
    * [Category dataset EDA](#edacat)
* [Objective 1 : How does factor like description, tags and title effect trending of videos!!!!](#obj1)
    * [.. make sub objective if required](#obj1a)
* [Objective 2](#obj2)
    * [.. make sub objective if required](#obj2a)
* [Objective 3](#obj3)
    * [.. make sub objective if required](#obj3a)
* [Objective 4](#obj4)
    * [.. make sub objective if required](#obj4a)
* [Conclusion](#conclusion)

<a id="importm"> </a>
## Importing required modules

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import json

<a id="importD"></a>
## Importing Data

* The sourge of the data was Kaggle, one of the most popular data science competition platform and online community of data scientists and machine learning practitioners under Google LLC.
* The data we are targeting is "Trending YouTube Video Statistics" This dataset is a daily record of the top trending YouTube videos.
* MetaData of DataSet
    * The data is segrated into two source a comma seperated values (c.s.v) and a json.
    * The csv contain video records while json contain details of category of these videos.
    * The data contain 40K+ record of trending videos in Canada over the span of two years!!
    * With 40K+ rows the data also contain 16 columns including but not limited to title, publish time, views, like, dislike.
    * The json file contain 31 categories with nested json with each category details.

<a id="csvData"></a>
### Importing video dataset (C.S.V)

In [2]:
videoDF = pd.read_csv("../archive/CAvideos.csv")
videoDF.head(5)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,🎧: https://ad.gt/yt-perfect\n💰: https://atlant...

<a id="jsonData"></a>
### Importing category dataset (JSON)

In [3]:
categoryDf = pd.read_json("../archive/CA_category_id.json")
categoryDf.head(5)

,kind,etag,items
0,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
1,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
2,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
3,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
4,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."

<a id="common"></a>
## Common Methods

In [4]:
#### ADD Commmon methods here!!!!!

In [5]:
# method to print Json Object in readable format.. 
def printJsonObject(obj):
    line_list = obj.split("\n")
    for line in line_list:
        print(line)

In [6]:
# method to get category
def getCategoryFromJson(data):
    category = {}
    for i, row in data.iterrows():
        tempdict = dict(row)
        category[tempdict["items"]["id"]]= tempdict["items"]["snippet"]["title"]
    return category

In [7]:
# method to get combine dataFrames 
def appendCategoryToDataFrame(dataFrame,category):
    tempList = []
    for i,row in dataFrame.iterrows():
        if str(row["category_id"]) in category.keys():
            tempList.append(category[str(row["category_id"])])
        else :
            tempList.append(None)
    dataFrame["category_name"] = tempList
    return dataFrame

<a id="eda"></a>
## Exploratory Data Analysis (E.D.A)

<a id="edavideo"></a>
### Video Dataset EDA

In [8]:
videoDF.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

In [9]:
videoDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40881 entries, 0 to 40880
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40881 non-null  object
 1   trending_date           40881 non-null  object
 2   title                   40881 non-null  object
 3   channel_title           40881 non-null  object
 4   category_id             40881 non-null  int64
 5   publish_time            40881 non-null  object
 6   tags                    40881 non-null  object
 7   views                   40881 non-null  int64
 8   likes                   40881 non-null  int64
 9   dislikes                40881 non-null  int64
 10  comment_count           40881 non-null  int64
 11  thumbnail_link          40881 non-null  object
 12  comments_disabled       40881 non-null  bool
 13  ratings_disabled        40881 non-null  bool
 14  video_error_or_removed  40881 non-null  bool
 15  description             39585 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.2+ MB

In [10]:
videoDF.describe()

        category_id         views         likes      dislikes  comment_count
count  40881.000000  4.088100e+04  4.088100e+04  4.088100e+04   4.088100e+04
mean      20.795553  1.147036e+06  3.958269e+04  2.009195e+03   5.042975e+03
std        6.775054  3.390913e+06  1.326895e+05  1.900837e+04   2.157902e+04
min        1.000000  7.330000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       20.000000  1.439020e+05  2.191000e+03  9.900000e+01   4.170000e+02
50%       24.000000  3.712040e+05  8.780000e+03  3.030000e+02   1.301000e+03
75%       24.000000  9.633020e+05  2.871700e+04  9.500000e+02   3.713000e+03
max       43.000000  1.378431e+08  5.053338e+06  1.602383e+06   1.114800e+06

<a id="edacat"></a>
### Category Dataset EDA

In [11]:
categoryDf.columns

Index(['kind', 'etag', 'items'], dtype='object')

In [12]:
categoryDf.describe()

,kind,etag,items
count,31,31,31
unique,1,1,31
top,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
freq,31,31,1

In [13]:
categoryDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kind    31 non-null     object
 1   etag    31 non-null     object
 2   items   31 non-null     object
dtypes: object(3)
memory usage: 872.0+ bytes

In [14]:
## Exploring an complete json item in category dataset
output = json.dumps(categoryDf.iloc[0]["items"],indent=1)
printJsonObject(output)

{
 "kind": "youtube#videoCategory",
 "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKmPBggty2mZQ\"",
 "id": "1",
 "snippet": {
  "channelId": "UCBR8-60-B28hp2BmDPdntcQ",
  "title": "Film & Animation",
  "assignable": true
 }
}

<a id="obj1"></a>
## Objective 1 : How does factor like description, tags and title effect trending of videos!!!!

In [15]:
## Making copy of original dataframe
videoDFCP = videoDF.copy()

In [16]:
# getting complete Df after adding category to df
getCategoryJson = getCategoryFromJson(categoryDf)
videoCompleteDF = appendCategoryToDataFrame(videoDFCP,getCategoryJson)
videoCompleteDF.head(5)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,category_name
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...,Music
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...,Comedy
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,Comedy
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,Entertainment
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,🎧: https://ad.gt/yt-perfect\n💰: https://atlant...,Music

In [17]:
## WORD frequency plot
## WOrdCloud
tagsCategory = ""
for i,row in videoCompleteDF.iterrows():
    for tag in row["tags"].split('|'):
        tagsCategory+=tag
#         if tag in tagsCategory:
#             tagsCategory[tag] += 1
#         else:
#             tagsCategory[tag] = 1

# dd = dict(sorted(tagsCategory.items(), key=lambda item: item[1],reverse=True))
# dd

In [18]:
# from collections import Counter
# # dictionary=Counter(filtered_text)
# import matplotlib.pyplot as plt
# from wordcloud import WordCloud

# cloud = WordCloud(max_font_size=80,colormap="hsv").generate_from_frequencies(dd)
# plt.figure(figsize=(16,12))
# plt.imshow(cloud, interpolation='bilinear')
# plt.axis('off')

In [19]:
from wordcloud import WordCloud, STOPWORDS

WordCloud().generate(tagsCategory)
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

NameError: name 'wordcloud' is not defined

In [ ]:
TODO::::

In [ ]:
df.shape

In [ ]:
tahtemp =[]
for i, row in df.iterrows():
    tahtemp.append(row["tags"].split("|"))
tahtemp[12]

In [ ]:
## common methods
# what methods does.!!!

In [ ]:
df.groupby(by="publish_time").count().sort_values(by="video_id",ascending=False)

In [ ]:
def getColumnsList(data):
    return [ x for x in data.columns]

In [ ]:
df.info(null_counts=True)

In [ ]:
jsonDF = pd.read_json("../archive/CA_category_id.json")
jsonDF.head()

In [ ]:
jsonDF.shape

In [ ]:
jsonDF["items"][0]

In [ ]:
def getCategoryFromJson(data):
    import json
    category = {}
    for i, row in data.iterrows():
        tempdict = dict(row)
        category[tempdict["items"]["id"]]= tempdict["items"]["snippet"]["title"]
    return category
getCategoryFromJson(jsonDF)

In [ ]:
def appendCategoryToDataFrame(dataFrame,category):
    tempList = []
    for i,row in dataFrame.iterrows():
        if str(row["category_id"]) in category.keys():
            tempList.append(category[str(row["category_id"])])
        else :
            tempList.append(None)
    df["category_name"] = tempList
appendCategoryToDataFrame(df,getCategoryFromJson(jsonDF))
getColumnsList(df)

In [ ]:
df[df["category_name"] == "p"].count()

In [ ]:
category.keys()

In [ ]:
(type(row["category_id"]))

In [ ]:
df.columns

Objective : Time to trends, and its relation between category

In [ ]:
#import date
from datetime import datetime,timezone
tempDateList = []
for i, row in df.iterrows():
    tempDateList.append(datetime.fromisoformat(row["publish_time"][:-1]).astimezone(timezone.utc).strftime('%Y-%m-%d %H:%M:%S'))
    
df["publishDate"] = tempDateList

In [ ]:
df["publishDate"]

In [ ]:
df["publishDate"] = pd.to_datetime(df["publishDate"])

time to trend

In [ ]:
#import date
from datetime import datetime,timezone
trendingDate = []
for i, row in df.iterrows():
#     date = datetime.datetime.strptime(day.group(), '%Y-%m-%d').date()
    trendingDate.append((datetime.strptime(row["trending_date"], '%y.%d.%m').strftime('%Y-%m-%d')))

df["trending_date"] = trendingDate
df["trending_date"] = pd.to_datetime(df["trending_date"])

In [ ]:
df["treandingDiff"]=df["trending_date"] - df["publishDate"]

In [ ]:
df.columns

In [ ]:
df.head(10)

In [ ]:
requiredDF = df[["category_id","category_name","treandingDiff"]]
requiredDF

In [ ]:
requiredDF.columns

In [ ]:
requiredDF["treandingDiff"].describe()

In [ ]:
df_gB = df.groupby(by="category_name").count()
df_gB

In [ ]:
df.groupby(by="channel_title").count().sort_values("video_id", ascending=False)

In [ ]:
requiredDF["category_name"]

In [ ]:
# import matplotlib.pyplot as plt
# plt.bar(requiredDF[requiredDF["category_id"] == 1]["category_id"],requiredDF[requiredDF["category_id"] == 1]["treandingDiff"])
# plt.bar(requiredDF[requiredDF["category_id"] == 2]["category_id"],requiredDF[requiredDF["category_id"] == 2]["treandingDiff"])
# plt.bar(requiredDF[requiredDF["category_id"] == 23]["category_id"],requiredDF[requiredDF["category_id"] == 23]["treandingDiff"])
# plt.bar(requiredDF[requiredDF["category_id"] == 24]["category_id"],requiredDF[requiredDF["category_id"] == 24]["treandingDiff"])
# plt.bar(requiredDF[requiredDF["category_id"] == 10]["category_id"],requiredDF[requiredDF["category_id"] == 10]["treandingDiff"])
# plt.bar(requiredDF[requiredDF["category_id"] == 25]["category_id"],requiredDF[requiredDF["category_id"] == 25]["treandingDiff"])
# plt.bar(requiredDF[requiredDF["category_id"] == 22]["category_id"],requiredDF[requiredDF["category_id"] == 22]["treandingDiff"])
# plt.bar(requiredDF[requiredDF["category_id"] == 26]["category_id"],requiredDF[requiredDF["category_id"] == 26]["treandingDiff"])
# plt.bar(requiredDF[requiredDF["category_id"] == 28]["category_id"],requiredDF[requiredDF["category_id"] == 28]["treandingDiff"])

In [ ]:
XVal=requiredDF["category_name"].unique()
XVal

In [ ]:
YVal = requiredDF["category_name"].value_counts()
YVal

In [ ]:
plt.bar(XVal,YVal)

In [ ]:
### like to dislike ratio
### view ratio
### View per category

In [ ]:
df["channel_title"].value_counts()[:25]

In [ ]:
df.sort_values("views", ascending=False)

In [ ]:
Factor

In [ ]:
import sklearn.neighbors as skn
from sklearn.model_selection import train_test_split
x = 
X_train, X_test, Y_train, Y_train = train_test_split()

In [ ]:
# # correc the type of tranding_date
# df["trending_date"]=pd.to_datetime(df["trending_date"],format="%y.%d.%m")
# # correct the type of published_time
# df["publish_time"]=pd.to_datetime(df["publish_time"])

In [ ]:
##Object 1 :

In [ ]:
##Object 2 :

In [ ]:
##Object 3 :

In [ ]:
##Object 4 :